
<!DOCTYPE html>
<html>
<head>
<title>Loyalty Points Calculator</title>
</head>
<body>
<h1>Loyalty Points Calculator</h1>
<form action="/calculate_points" method="POST">
<label for="years_of_membership">Years of Membership:</label>
<input type="number" id="years_of_membership" name="years_of_membership">
<br>
<label for="top_up_percentage">Top Up Percentage:</label>
<input type="number" id="top_up_percentage" name="top_up_percentage">
<br>
<label for="ttr_transaction_value">TTR Transaction Value:</label>
<input type="number" id="ttr_transaction_value" name="ttr_transaction_value">
<br>
<label for="education_units_completed">Education Units Completed:</label>
<input type="number" id="education_units_completed" name="education_units_completed">
<br>
<label for="points_spent_on_education_unit_discounts">Points Spent on Education Unit Discounts:</label>
<input type="number" id="points_spent_on_education_unit_discounts" name="points_spent_on_education_unit_discounts">
<br>
<label for="points_spent_on_education_grants">Points Spent on Education Grants:</label>
<input type="number" id="points_spent_on_education_grants" name="points_spent_on_education_grants">
<br>
<label for="points_spent_on_financial_advice">Points Spent on Financial Advice:</label>
<input type="number" id="points_spent_on_financial_advice" name="points_spent_on_financial_advice">
<br>
<label for="points_spent_on_micro_investments">Points Spent on Micro Investments:</label>
<input type="number" id="points_spent_on_micro_investments" name="points_spent_on_micro_investments">
<br>
<label for="points_spent_on_partner_programs">Points Spent on Partner Programs:</label>
<input type="number" id="points_spent_on_partner_programs" name="points_spent_on_partner_programs">
<br>
<input type="submit" value="Calculate">
</form>
</body>
</html>


